<p>L'índex va ser actualitzat per últim cop el {{date}} i conté: {{ca_labels}} paraules i {{ca_descs}} definicions en català, {{en_labels}} paraules i {{en_descs}} definicions en anglès, {{fr_labels}} paraules i {{fr_descs}} definicions en francès, {{de_labels}} paraules i {{de_descs}} definicions en alemany, {{es_labels}} paraules i {{es_descs}} definicions en espanyol, i {{images}} imatges.
</p>
